<div class="flex-container">

  <div class="info">
    <mat-card class="simple-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">group</mat-icon>
        <mat-card-title>Total Usuarios</mat-card-title>
        <mat-card-subtitle>Estadísticas generales</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="big-number">100</h1>
      </mat-card-content>
    </mat-card>

    <mat-card class="simple-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">devices</mat-icon>
        <mat-card-title>Total Equipos</mat-card-title>
        <mat-card-subtitle>Estadísticas generales</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="big-number">100</h1>
      </mat-card-content>
    </mat-card>

    <mat-card class="simple-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">assignment</mat-icon>
        <mat-card-title>Total Préstamos</mat-card-title>
        <mat-card-subtitle>Estadísticas generales</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="big-number">100</h1>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex-container__charts">

    <div class="chart-wrapper">
      <canvasjs-chart
        [options]="chartOptions"
        [styles]="{width: '100%', height:'360px'}"> </canvasjs-chart>
    </div>

    <div class="chart-wrapper">
      <canvasjs-chart
        [options]="chartOptions2"
        [styles]="{width: '100%', height:'360px'}">
      </canvasjs-chart>
    </div>

  </div>

</div>
