.full-width {
  width: 100%;
}

.shipping-card {
  display: flex;
  min-width: 120px;
  margin: auto;
  padding: 32px;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
