.container {
  padding: 20px;
}

.options-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  h2 {
    margin: 0;
    color: #333;
  }
}

/* Estilos internos para los formularios dentro de los diálogos */
.dialog-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  min-width: 300px;
}

.full-width {
  width: 100%;
  margin-bottom: 5px;
}

.warning-text {
  color: #f44336;
  font-size: 0.9em;
  margin-top: -10px;
}
