<div class="container">
  <div class="options-bar">
    <h2>Gestión de Equipos</h2>
    <button mat-raised-button color="primary" routerLink="new">
      <mat-icon>add</mat-icon> Nuevo Equipo
    </button>
  </div>

  <ag-grid-angular
    style="width: 100%; height: 500px; margin-top: 15px;"
    class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    [getRowId]="getRowId"
  >
  </ag-grid-angular>
  <mat-paginator
    [length]="totalLoans"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
    aria-label="Seleccionar página">
  </mat-paginator>
</div>

<ng-template #createLoanDialog>
  <h2 mat-dialog-title>Crear Nuevo Equipo</h2>
  <mat-dialog-content>
    <form [formGroup]="loanForm" class="dialog-form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="loanForm.get('name')?.hasError('required')">Requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Marca</mat-label>
        <input matInput formControlName="brand">
        <mat-error *ngIf="loanForm.get('brand')?.hasError('required')">Requerido</mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="cerrarDialogo()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="loanForm.invalid" (click)="guardarNuevoEquipo()">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #returnConfirmDialog>
  <h2 mat-dialog-title>Devolver Equipo</h2>
  <mat-dialog-content>
    <p>¿Estás seguro que deseas eliminar el prestamo ?</p>
    <p class="warning-text">Esta acción no se puede deshacer.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cerrarDialogo()">Cancelar</button>
    <button mat-raised-button color="warn" (click)="procederDevolucion()">
      Sí, Devolver
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #deleteConfirmDialog>
  <h2 mat-dialog-title>Eliminar Usuario</h2>
  <mat-dialog-content>
    <p>¿Estás seguro que deseas eliminar el prestamo ?</p>
    <p class="warning-text">Esta acción no se puede deshacer.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cerrarDialogo()">Cancelar</button>
    <button mat-raised-button color="warn" (click)="procederEliminacion()">
      Sí, Eliminar
    </button>
  </mat-dialog-actions>
</ng-template>
